<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epilepsy Trigger Tracker</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <h1>Today's Drinks</h1>
        <ul class="rappers">
          <% for(let i=0; i < info.length; i++) {%>
          <li class="rapper">
            <span><%= info[i].type %></span>
            <span><%= info[i].subtype %></span>
            <span><%= info[i].name %></span>
            <span><%= info[i].content %></span>
            <span><%= info[i].measurement %></span>
            <span class="fa fa-thumbs-up"></span>
            <span class="fa fa-trash"></span>
          </li>
          <% } %>
        </ul>

        <h2>Add A Drink:</h2>

        <form action="/addDrink" method="POST">
          <input type="text" placeholder="Type" name="type" />
          <input type="text" placeholder="Subtype" name="subType" />
          <input type="text" placeholder="Name" name="name" />
          <input type="text" placeholder="Content" name="content" />
          <input type="text" placeholder="Measurement" name="measurement" />
          <input type="submit" />
        </form>

        <script src="/public/js/main.js"></script>
      </body>
    </html>
  </body>
</html>
